<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.ustc.zax.tool"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <queries>
    <package android:name="br.com.gabba.Caixa"/>
    <package android:name="com.bradesco"/>
    <package android:name="com.itau"/>
    <package android:name="br.com.bb.android"/>
  </queries>

</manifest>